{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'general/css/mse_calculator.css' %}">
{% endblock %}

{% block content %}
    <h1>Multiple Systems Estimation Example Data</h1>

    <p>These examples are taken from:<br/>
        Bernard W. Silverman, "<a href="https://doi.org/10.1111/rssa.12505">Multiple-Systems Analysis for the
        Quantification of Modern Slavery: Classical and Bayesian Approaches</a>", <i>Journal of the Royal Statistical
        Society Series A: Statistics in Society</i>, Volume 183, Issue 3, June 2020, Pages 691–736.
    </p>

    <form id="examples-form" method="post" action="/multiplesystemsestimation/examples">
        {% csrf_token %}
        {{ form }}
        <input id="submit-button" type="submit" value="Submit">
    </form>
    
    


{% endblock %}