{% extends 'base.html' %}
{% load static %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'general/css/mse_calculator.css' %}">
{% endblock %}


{% block content %}
    <h1>Multiple Systems Estimation Calculator</h1>
    <form action="/multiplesystemsestimation/{% if not results_display %}calculator{% else %}download{% endif %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="{{ form.total_lists.html_name }}" value="{{ form.total_lists.value }}"/>
        {% if results_display %}
            <h2>Results</h2>
            <div>{{ results }}</div>
            <input type="hidden" name="results" value="{{ results }}"/>
            <input type="hidden" name="csv-data" value="{{ csv_data }}"/>
            <input type="submit" value="Download input data and results"/>
            <h2>Input data</h2>
        {% endif %}
        
        <table class="{% if results_display %}results-table{% else %}input-table{% endif %}">
            {{ formset.management_form }}
            <tr>
                {% for list in lists %}
                    <th aria-hidden="true" scope="col">{{ list }}</th>
                {% endfor %}
                <th>Total</th>
            </tr>
            {% for details_form in formset %}
                <tr{% if details_form.initial.first %} class="first"{% endif %}>
                    {% for list in lists %}
                        <td aria-hidden="true">
                            {% if list in details_form.initial.required_lists %}
                                x
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        {% if results_display %}
                            <b>
                                {{ details_form.total_appearances.value }}
                            </b>
                        {% else %}
                            <input type="hidden" name="{{ details_form.index_pos.html_name }}" value="{{ forloop.counter0 }}"/>
                            <input type="hidden" name="{{ details_form.required_lists.html_name }}" value="{{details_form.initial.required_lists|join:'|'}}"/>
                            <input
                                type="text"
                                aria-label="{{details_form.initial.required_lists|join:' and '}}"
                                id="{{ details_form.total_appearances.auto_id }}"
                                name="{{ details_form.total_appearances.html_name }}"
                                value="{% if details_form.total_appearances.value != None %}{{ details_form.total_appearances.value }}{% endif %}"
                            />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if results_display %}
            <div id="options">
                <div>
                    <span>Censoring lower: </span><b>{{ options_form.censoring_lower.value }}</b>
                </div>
                <div>
                    <span>Censoring upper: </span><b>{{ options_form.censoring_upper.value }}</b>
                </div>
            </div>
        {% else %}
            <div id="options">
                {{ options_form }}
            </div>
        {% endif %}

        {% if not results_display %}
            {% for dict in formset.errors %}
                {% for error in dict.values %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
            {{ formset.non_form_errors }}
            <input id="submit-button" type="submit" value="Submit">
        {% endif %}
    </form>
{% endblock %}
