div#cookie-message-popup {
    text-align: center;
    z-index: 10000;
    padding: 1em;
    border: 1px solid light-dark(var(--light-color), var(--dark-color));
    margin-left: auto;
    margin-right: auto;
    background-color: light-dark(var(--dark-bg), var(--light-bg));
    color: light-dark(var(--dark-color), var(--light-color));
}

div#cookie-message-popup a {
    text-decoration: underline;
    background-color: light-dark(var(--dark-bg), var(--light-bg));
    color: light-dark(var(--dark-color), var(--light-color));
}

button#cookie-message-popup-accept {
    display: inline-block;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
    padding: 0.4em 1.7em;
    margin-left: 1em;
    cursor: pointer;
    vertical-align: middle;
}
