:root {
    /* set color-scheme to switch between light or dark */
    color-scheme: light dark;

    --light-bg: snow;
    --light-color: black;
    --light-header-bg: #9fc8c5;
    --dark-bg: black;
    --dark-color: snow;
    --dark-header-bg: #41716e;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

* {
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
}

.light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

div#content {
    display: flex;
    align-items: left;
    flex-grow: 1;
}

header,
div#content,
div#cookie-message-popup,
footer {
    flex-shrink: 0;
}

header,
header * {
    background-color: light-dark(var(--light-header-bg), var(--dark-header-bg));
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}

header #header-title {
    font-size: 2em;
    margin-left: 20px;
}

footer {
    /* margin-top: 0.5em; */
    font-size: 0.8em;
    border-top: 1px solid light-dark(var(--light-color), var(--dark-color));
    text-align: center;
}

footer a {
    display: inline-block;
    margin: 0.5em;
}

main {
    padding:10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div#page-content {
    flex-grow: 1;
}

nav.active {
    background-color: light-dark(var(--light-header-bg), var(--dark-header-bg));
}

button.menu-button {
    margin: 5px;
    background-color: light-dark(var(--dark-bg), var(--light-bg));
    color: light-dark(var(--dark-color), var(--light-color));
    border: 0;
    border-radius: 5px;
}

button.menu-button i {
    font-size: 1.3em;
    background-color: light-dark(var(--dark-bg), var(--light-bg));
    color: light-dark(var(--dark-color), var(--light-color));
    padding: 5px;
}

#menu {
    background-color: light-dark(var(--light-header-bg), var(--dark-header-bg));
    padding-top: 1em;
}

#menu a {
    border: none;
    padding: 0.6em 0.6em 0.6em 0.6em;
    color: light-dark(var(--light-color), var(--dark-color));
    background-color: light-dark(var(--light-header-bg), var(--dark-header-bg));
}

/*
Remove all background/borders, since we are applying them to #menu.
*/
 #menu .pure-menu,
 #menu .pure-menu ul {
    border: none;
    background: transparent;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}

/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #333;
}

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #1f8dd6;
}

/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
    color: #fff;
}


/* */


div#content.active {
    display: block;
}

#menu.active {
    display: block;
    top: 0;
    width: 100%;
}

@media (min-width: 48em) {

    .menu-button {
        position: fixed;
        left: 150px;
        display: none;
    }

    nav {
        background-color: light-dark(var(--light-header-bg), var(--dark-header-bg));
    }
}

@media (max-width: 48em) {

    #menu {
        display: none;
    }

    #logo {
        display: none;
    }

    div#content {
        display: block;
    }

}
