{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>Hidden Harms Hub</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet"
                  href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
                  integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
                  crossorigin="anonymous"
            >
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="{% static 'css/cookies.css' %}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <img id="logo" src="{% static 'img/hiddenharmshublogo.png' %}" alt="" height="80px"/>
                <span id="header-title">Hidden Harms Hub</span>
            {% endblock %}
        </header>
        <div id="content">
            <nav id="main-menu" aria-label="Main Menu">
                <button id="menu-button" class="menu-button" aria-controls="menu" aria-label="Menu" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                {% block menu %}
                    <div id="menu" class="pure-menu">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item">
                                <a href="/" class="pure-menu-link">Home</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="comparativejudgement" class="pure-menu-link">Comparative Judgement</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="multiplesystemsestimation" class="pure-menu-link">Multiple Systems Estimation</a>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
            </nav>
            <main role="main" id="main">
                <div id="page-content">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
        <footer id="footer" role="contentinfo">
            <p>
                <a href="https://www.birmingham.ac.uk/privacy/index.aspx">Privacy</a> |
                <a href="https://www.birmingham.ac.uk/legal/index.aspx">Legal</a> |
                <a href="https://www.birmingham.ac.uk/university/governance/policies-regs/information/index.aspx">Freedom of Information</a> |
                <a href="{% url 'general:cookies' %}">Cookies</a> |
                <a href="https://accessibility.bear.bham.ac.uk/">Accessibility</a>
            </p>
        </footer>

        <!-- JavaScript -->
        <script src="{% static 'js/cookiesmsg.js' %}"></script>
        <script src="{% static 'js/responsive_menu.js' %}"></script>
    </body>
</html>
